.app {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

.app__loader,.app__error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.app__error{
  font-size: 50px;
  font-weight: bold;
}
